body {
    margin:0;
    padding:0;
    overflow:hidden;
}

.panorama-body {
    font-size: 18px;
    line-height: 1.5em;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    background: white;
    text-align: center;
    width:100%;
    height:100%;
    overflow: hidden;
}

.panorama-body a {
    color: inherit;
}

#panorama{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -webkit-grab;
}

#panorama:active { 
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

#panoramaImage {
    display:none;
}
.panorama-body canvas {
    margin-right: auto;
    margin-left: auto;
    margin:auto;
    width: 100%!important;
    height: 100%!important;
}

.top_buttons {
    position: absolute;
    right: 26px;
    top: 26px;
    font-size: 32px;
    color: white;
    border-radius: 30px;
    padding: 11px 1px 10px 6px;
    width: 99px;
    height: 45px;
}

#fullscreen {
    padding: 5px 9px 2px 9px;
    border-radius: 30px;
    cursor: pointer;
    float: right;
    padding-right: 20px;
}

#audio {
    padding: 5px 9px 2px 9px;
    border-radius: 30px;
    opacity: 0.9;
    cursor: pointer;
}

.zoom_conrol{
    position: absolute;
    right: 30px;
    bottom: 112px;
    font-size: 32px;
    color: white;
}

#zoom_in {
    cursor: pointer;
}

#zoom_out {
    cursor: pointer;
}
.zoom {
    width: 32px;
    padding: 3px;
}

.keys {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 32px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    padding: 56px 14px 14px 14px;
    border-radius: 6px;
    width: 113px;
    height: 99px;
    z-index: 99;
}
i.keys{
    cursor:pointer;
}
.keys > i {
    cursor: pointer;
}

.key-icon {
    margin: 5px 14px 5px 14px
}
.key_down {
    margin-left:-6px;
}

img#right_key {
    left: 50px;
}

img#left_key {
    right: 20px;
}

img#up_key {
    bottom: 5px;
}

img#down_key {
    bottom: -64px;
}

img#elipse_key {
    left: 19px;
    bottom: -25px;
}

.control-key {
    position: absolute;
    bottom: 75px;
    width: 29px;
    right: 72px;
}
.control_keys {
    position: absolute;
    cursor: pointer;
}

.audio_player {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    padding: 6px 18px 5px 25px;
    margin-left: -88px;
    border-radius: 27px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#fullScreenMode {
    cursor: pointer;
    position: absolute;
    color: white;
    bottom: 100.5%;
    right: 60px;
    background: rgba(0, 0, 0, 0.4);
    padding: 11px 14px 4px 13px;
    }
.menu-centered {
    width:100%;
}

i#pButton {
    margin-left: -5px;
    margin-top: -10px;
}


/* new style */

#panos-list {
    position: absolute;
    z-index: 100;
    cursor: auto;
}


.pan-menu-item {
    text-decoration: none;
    text-transform: uppercase;
}
li.pan-menu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    list-style: none;
    display: inline;
    padding: 1px 1px 3px 1px;
    font-size: 14px;
    border-radius: 1px;
    list-style: none;
    display: inline;
    cursor: pointer;
    float:left;
    background:  rgba(255, 255, 255, 0.76);
    margin: 4px;
    width:98%;
}
li.pan-menu:hover {
    background:white;
    color:#333333;
        transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;

}

.panos-menu {
    background: rgba(0, 0, 0, 0.2);
    z-index: 99;
}
#panos-list {
    position: absolute;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
    padding: 0px 14px 15px 0;
    width: 100%;
    bottom:0px;
}

.menu-button {
    cursor: pointer;
    position: absolute;
    color: white;
    bottom: 100%;
    right: 13px;
    background: rgba(0, 0, 0, 0.4);
    padding: 14px;
}

.pan-description {
    height: 30px;
    width: auto;
    cursor: pointer;
    position: absolute;
    color: white;
    bottom: 100.5%;
    right: 110px;
    background: rgba(0, 0, 0, 0.4);
    padding: 11px 14px 4px 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: auto;
}
.pan-description p {
    font-weight: 200;
    margin: 0;
    padding: 0;
    text-align: left;
    line-height: 19px;
    margin-top: -9px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 15px;
    color: rgb(236, 236, 233);
    cursor:auto;
}

.height-1 {
    max-height:1px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-transition:all 1s;
    transition: all 1s;
}

#menu-show {
    padding:0;
    margin-top:10px;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 0;
}
.now-full-screen {

}
img#right_key {
	left:50px;
}

img#left_key {
	right:19px;
}

img#up_key {
	left:14px;
}

img#down_key {
	left:14px;
}

.pan-slide-thumb {
    width:100%;
    border-radius: 1px;
    display:block;
}

.owl-item {

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {    
     li.pan-menu {
        width: 202px;
        padding: 1px 0px 8px 0px;
    }
    .owl-item {

    }
    

}
@media only screen and (min-device-width : 768px) and (max-device-width : 770px) {
   .menu-centered {
        
    }  
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1050px){
   .menu-centered {
        
    }  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
    
    li.pan-menu {
    
        padding: 1px 0px 8px 0px;
    }
    .pan-description {
        display: none;
    }

    
    #fullScreenMode {
    cursor: pointer;
    position: absolute;
    color: white;
    bottom: 100.5%;
    right: 60px;
    background: rgba(0, 0, 0, 0.4);
    padding: 11px 14px 4px 13px;
    }
    
    .keys {
        display:none;
    }
}

    #content {
        margin: 0 auto;
        padding-bottom: 50px;
        width: 80%;
        max-width: 978px;
    }  
.menu-centered {
    margin-right: auto;
    margin-left: auto;
    padding-top:5px;
}


p.alert-message {
    background: red;
    color: white;
    margin: 0px;
    padding: 20px;
}


.owl-theme .owl-controls{
	margin-top: 2px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
    width: 15px;
    height: 15px;
    margin: 0px 3px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background:  rgba(255, 255, 255, 0.9);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
}


